.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #333;
    color: #fff;
    transition: all 0.3s;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.alert-success{
    display: none;
}
/* }
* {
    font-family: 'Poppins', sans-serif;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); */
 