@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

#valid-iban-icon.valid {
  color: green;
  content: "\2714"; /* Unicode karakter voor een vinkje */
  }
#valid-iban-icon.invalid {
  color: red;
  content: "\2716"; /* Unicode karakter voor een kruisje */
  }
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }

  .custom-img-size {
    width: 200px;
    padding: 10px;
    height: auto;
  }

  /*horizontal scroll*/
  .scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 120px;
  }
  .custom-panel {
    border-color: #fd7e14; /* Set the border color to $orange-500 */
  }
  .custom-panel .panel-heading {
    background-color: #fd7e14; /* Set the background color to $orange-500 */
    color: white; /* Set the text color to white */
  }

  .scrolling-wrapper .panel {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  

  footer {
    background-color: #f2f2f2;
    padding: 20px; 
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
  }
  .panel-body img {
    max-height: 160px;
    width: auto;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .custom-modal-dialog {
    width: 60%;
  }

  .custom-modal-body {
    padding-top: 20px;
  }

  .custom-modal-body img {
    max-width: 100%;
  }

  @media (max-width: 768px) {
    .custom-modal-body .row {
      flex-direction: column-reverse;
    }

    .col-sm-6 {
      width: 100%;
      margin-bottom: 20px;
    }

    .custom-modal-body img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      display: block;
      margin: 0 auto;
    }
  }
  #dateFilter{
    margin: 10px 0;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color:#fd7e14;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
select{
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fixed-width-buttons {
  width: 400px;
}
.fixed-width-buttons .btn {
  width: 50%;
}