@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.card {
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card-header {
    background-color: #007bff;
    color: white;
}
.card-body h5 {
    color: #0553a7;
}
.btn-primary {
    background-color: #0553a7;
}
.workshopSupplies li {
    margin-bottom: 0.5rem;
}
.collapse-content {
    padding-left: 1rem;
}
  p { margin: 4px; }
  h5 { margin: 4px; }

  .btn {
    background-color: #F49700;
    border-color: #F49700;
    margin: 2px;
    color: white;
}

.btn:hover {
    background-color:#c07805;
    border-color: #F49700;
    transition: 0.7s;
}
.card-header {
    background-color: #F49700;
    color: #030202;
    font-size: 20px;
    font-weight: 500;
}

.headeritem{
    display: inline-block;
    margin-right: 5px;
}
.modal-header{
    background-color: #F49700;
    color: #030202;
    font-size: 20px;
    font-weight: 500;
}
#workshopsContainer{
    min-height: 500px;
}


