<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>

    <h1>Jij bent toegevoegd aan de back-up lijst. De {Workshop} op {ExecutionDate} is bezet</h1>

    <p>Beste <%= userName %>, <br><br>

            Je aanmelding is in goede orde ontvangen. Voor de {Workshop} op {ExecutionDate} in {City} is er al een
            andere workshopdocent ingepland. We hebben je toegevoegd aan de back-up lijst. Mocht de huidige
            workshopdocent uitvallen, dan zullen wij jou benaderen. <br><br>

            Met vriendelijke groeten, Team Skool Workshop <br>

            <img src="SKWLogoWhite.png" alt="Logo"> <br>

            Veilingkade 15 | 4815 HC Breda | Tel. 085 - 0653923 | App. 06 -
            28318842 Mail. info@skoolworkshop.nl | Web. www.skoolworkshop.nl</p>

</body>

</html>