<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>

    <h3>Je hebt de {Workshop} op {ExecutionDate} in {City} geannuleerd</h3>

    <p>Beste <%= userName %>, <br><br>

        We hebben uw annulering voor de {Workshop} op {ExecutionDate} in {City} ontvangen. <br>

        Reden: {Reden}  <br>
        
        We hopen je snel weer in te kunnen zetten. <br><br>

            Met vriendelijke groeten, Team Skool Workshop <br>

            <img src="SKWLogoWhite.png" alt="Logo"> <br>

            Veilingkade 15 | 4815 HC Breda | Tel. 085 - 0653923 | App. 06 -
            28318842 Mail. info@skoolworkshop.nl | Web. www.skoolworkshop.nl</p>

</body>

</html>