<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>

    <h3>Bevestiging {Workshop} op {ExecutionDate} in {City}</h3>

    <p>Beste <%= userName %>, <br><br>

            Leuk dat je een workshop wil verzorgen voor Skool Workshop. Met deze mail is jouw workshop voor {Customer}
            bevestigd. <br><br>

            Je wordt verwacht op {ExecutionDate} om {StartTime}. <br><br>

            De workshop start om {FirstRoundStartTime} en eindigt om {LastRoundEndTime}. <br><br> Als je ervoor kiest om
            materialen van Skool Workshop te gebruiken, ben je verantwoordelijk voor het gebruik, het ophalen,
            terugbrengen en het voorkomen van schade of verlies. <br><br>
            
            Login op jouw account om de workshop details te
            bekijken. <br><br> Wij wensen je alvast veel plezier! <br><br>

            Met vriendelijke groeten, Team Skool Workshop <br>

            <img src="SKWLogoWhite.png" alt="Logo"> <br>

            Veilingkade 15 | 4815 HC Breda | Tel. 085 - 0653923 | App. 06 -
            28318842 Mail. info@skoolworkshop.nl | Web. www.skoolworkshop.nl</p>

</body>

</html>