<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h3>Je registratie als workshopdocent is geaccepteerd</h3>

    <p>Beste <%= userName %>, <br><br>

        Leuk dat je ons team wil versterken met het geven van workshops. Wij hebben je opgenomen in ons
        docentenregister. Login om jouw profiel bij te werken, zodat jij jezelf kan gaan aanmelden voor opdrachten. <br><br>

        Met vriendelijke groeten, Team Skool Workshop <br>
        
        <img src= "SKWLogoWhite.png" alt="Logo"> <br>
        
        Veilingkade 15 | 4815 HC Breda | Tel. 085 - 0653923 | App. 06 -
        28318842 Mail. info@skoolworkshop.nl | Web. www.skoolworkshop.nl</p>

</body>

</html>